/* 
====================================
(ctrl-f these for easy navigation)
NAVBAR
MODAL
MAIN
POST
RIGHTNAV
====================================
*/


/* NAVBAR */
#temp-for-icon {
  color: grey;
  font-style: italic
}

#navbar-user-karma {
  font-weight: 700;
  color: grey;
}

.navbar-user-link {
  cursor: pointer;
  color: rgb(7, 109, 199);
  font-weight: 400;
}

.sub-cruddit-list {
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #e7e7e7;
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 0;
}

.sub-cruddit-list a {
  padding-right: 0.5em;
  padding-left: 0.5em;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.sub-cruddit-list a:hover {
  text-decoration: underline;
  color: #555;
}

.current-subcruddit {
  cursor:pointer;
  padding-left: 25px;
  text-shadow: -1px 1px 1px rgb(26, 32, 61), -2px 2px 2px rgb(33, 52, 135);
  font-size: 32px;
  font-weight: 700
}

.orange-box {
  width: 3%;
  background-color: #ff6314;
}

.lower-half {
  background-color: rgb(199, 223, 244);
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-top: 1px solid rgb(92, 106, 122);
  border-bottom: 1px solid rgb(92, 106, 122);
}

.hot-new-tab {
  letter-spacing: 0.1em;
  font-size: 16px;
  font-weight: 500;
  color: #115391;
  position: absolute;
  bottom: 0px;
  left: 12%;
  width: 175px;
  height: 29px;
  z-index: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.tab-option1 {
  padding-top: 3px;
  padding-left: 7px;
  margin-top: 0px;
  background-color: rgb(230, 243, 241);
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  box-shadow: -1px -2px 3px rgb(91, 120, 158);
}

.tab-option2 {
  padding-top: 3px;
  padding-left: 5px;
  margin-top: 0px;
  background-color: rgb(230, 243, 241);
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  box-shadow: -1px -2px 3px rgb(91, 120, 158);
}

.tab-option1:hover,
.tab-option2:hover {
  background-color: #4364d1;
  color: white;
  cursor: pointer;
}

.login-box {
  letter-spacing: 0.1em;
  font-size: 11px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 302px;
  height: 19px;
  background-color: rgb(232, 239, 245);
  border-top-left-radius: 5px;
  z-index: 1;
  padding-right: 20px;
  padding-left: 20px;
}

/* MODAL */

.modal-failure-text {
  color: red;
  font-size: 10px;
}

.modal-big-text,
.modal-signup-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  color: rgb(46, 128, 209);
}

.modal-big-text {
  font-size: 18px;
}

.modal-signup-text {
  font-size: 12px;
}

.modal-info-text {
  font-size: 13px;
  margin-bottom: 1px;
}

.modal-label:first-child {
  margin-top: 4px;
}

.modal-signup-reminder {
  color: #40454c;
  font-size: 11px;
}

.modal-signup-prompt {
  color: rgb(22, 66, 137);
  font-weight: 500;
  cursor: pointer;
}

.modal-text-input {
  width: 301px;
  height: 26px;
  border: 1px solid rgb(193, 195, 203);
  border-radius: 4px;
  background-color: #e6ecf5;
  font-size: 13px;
  margin-bottom: 5px;
}

.btn-primary {
  font-size: 12px;
  font-weight: bold;
  color: rgb(215, 215, 215);
  letter-spacing: 1px;
  border-radius: 3px;
  align-self: flex-end;
}

.login-signup-parent-container {
  position: relative;
}

.button-container {
  position: absolute;
  bottom: 15px;
  right: 63px;
}

.modal-danger-text {
  font-size: 9px;
  color: #ff6314;
}

.modal-label {
  font-size: 12px;
  font-weight: 400;
  color: rgb(81, 132, 225);
  letter-spacing: 1px;
  margin: 1px;

}

.modal-body {
  min-height: 40vh;
  max-height: 40vh;
}

.modal-lg {
  width: 700px;
}

.modal-content {
  height: 100%;
}

.form-control:focus {
  border-color: #9bd1e8;

  box-shadow: 0 0 4px 2px rgb(186, 204, 237);
}

.modal-right {
  background: linear-gradient(to right bottom, #ffffff, #449adb);
  box-shadow: inset 0px 0px 80px 10px #0687b6;
  min-height: 100%;
}

/* POST */

.upvote-true {
  filter: invert(46%) sepia(20%) saturate(4388%) hue-rotate(350deg) brightness(99%) contrast(104%);
}

.downvote-false {
  filter: invert(35%) sepia(24%) saturate(1117%) hue-rotate(199deg) brightness(103%) contrast(96%);
}

.upvote,
.downvote,
.vote-count,
.upvote-color,
.downvote-color {
  position: absolute;

}

.upvote,
.upvote-color {
  top: 0;
  left: 30%;
}

.downvote,
.downvote-color {
  top: 60%;
  left: 30%;
}

.post-container {
  margin-left: 1%;
  margin-bottom: 1%;
  border: 1px solid rgb(183, 195, 209);
  box-shadow: -1px 1px 3px rgb(156, 156, 156);
  /* background-color: rgba(152, 225, 233, 0.192); */
}

.post-subcruddit-height {
  height: 92px;
}

.post-container:hover {
  background-color: rgb(249, 249, 249);
}

.vote-and-type-container {
  /* background-color: crimson; */
  width: 130px;
  position: relative;
}

.vote-container {
  position: absolute;
  top: 8%;
  /* background-color: rgb(148, 181, 241); */
  height: 60px;
  width: 60px;
  border-radius: 13px;
}

.post-type-container {
  position: absolute;
  right: -8%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(219, 230, 236); */
  margin-top: 10px;
  height: 60px;
  width: 60px;
  /* border: 1px solid blue; */
}

.post-type-container img {
  max-width: 50px;
  max-height: 50px;
}



.vote-count {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-action-hover:hover {
  cursor: pointer;
  /* font-weight:bold; */
  text-decoration: underline;
}

/* TESTING - REMOVE! */
.upvote:hover {
  filter: invert(46%) sepia(20%) saturate(4388%) hue-rotate(350deg) brightness(99%) contrast(104%);
}

/* TESTING - REMOVE! */
.downvote:hover {
  filter: invert(35%) sepia(24%) saturate(1117%) hue-rotate(199deg) brightness(103%) contrast(96%);
}

.post-content-container {
  /* background-color: rgba(27, 89, 113, 0.443); */
  margin-left: 10px;
}

.post-title {
  font-size: 17px;
  font-weight: 500;
  color: #0c17b0;
}

.post-title,
a {
  text-decoration: none;
}

.post-submission-info {
  font-size: 10px;
}

.post-links {
  font-size: 11px;
  font-weight: 600;
}

.post-links a {
  color:black;
  font-weight:400;
}

/* MAIN */

.page-item-none {
  display: none
}

.previous-label,
.next-label {
  list-style-type: none;
  height: 22px;
  width: 45px;
  font-size: 12px;
  font-weight: 700;
  /* padding:3px; */
  padding-bottom: 4px;
  padding-left: 3px;
  margin: 5px;
  background-color: #e6edf1;
  border-radius: 4px;
}

.previous-label:hover,
.next-label:hover {
  border: 1px solid rgb(100, 141, 178);
}

.pagination-container {
  list-style: none;
  display: flex;
}


.main-image-post img {
  max-width: 40vh;
  max-height: 60vh;
}



/* RIGHTNAV */
.right-panel {
  height: 100%;
  box-shadow: -2px 3px 2px rgb(205, 215, 221);
}

.right-nav-pin {
  position: relative;
}

.right-nav-big-container {
  margin-top:1em;
  box-shadow: 1px 1px 4px grey;
  border-radius:6px;
  background-color:#fdfdfd;
  padding:5px;
}

.right-nav-rules {
  list-style: none;
  font-size: 12px;
  line-height: 0.6em;
  margin-left: 0;
  padding-left: 3px;
  margin-bottom: 10px;
}

.rules-box {
  /* background-color:rgb(235, 223, 223); */
  padding: 5px;
  padding-top: 10px;
  border-radius: 4px;
}

.rules-container {
  padding: 3px;
  border: 1px solid rgb(255, 191, 191);
  border-radius: 6px;
  background-color: #f7d9d9;
}

.right-nav-rules:hover {
  color: brown;
  font-size: 12px;
  font-weight: bold;
}

.moderator-container {
  padding: 1px;
  border: 1px solid rgb(216, 222, 253);
  border-radius: 6px;
  background: repeating-linear-gradient(135deg,
  #eef6ff,
  #e5e8eb 2px,
  #dbf1ff 7px,
  #f2f2f2 4px);
}

.wiki-container {
  padding: 3px;
  border: 1px solid rgb(216, 222, 253);
  border-radius: 6px;
  background-color: #e2f5ff;
  padding: 3px;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  background: repeating-linear-gradient(45deg,
      #eef6ff,
      #e5e8eb 2px,
      #fcf3f3 2px,
      #f2f2f2 4px);
  overflow-y:auto;
  max-height:35vh;
}

.rules-container,
.moderator-container,
.wiki-container {
  margin-top: 1em;
}

.wiki-title {
  font-size: 22px;
  font-weight: bolder;
  display: block;
  text-align: center;
  margin-top: 8px;
}

.right-nav-mod-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin:0px;
}

.right-nav-rules-dropdown {
  color: rgb(192, 70, 70);
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.right-nav-rules-dropdown::marker {
  /* content: ""; */
  color: rgb(136, 62, 62);
}

.right-nav-mod-list p {
  color: #3f454b;
  font-weight: 500;
  text-shadow: 2px 1px 2px rgb(40, 88, 161);
}

.right-nav-create-submit {
  border: 1px solid rgb(174, 196, 235);
  color: rgb(41, 74, 124);
  font-weight: bolder;
  font-size: 18px;
  background: linear-gradient(to bottom, white, rgb(209, 229, 255));
  margin: 0 20px 0 20px;
  padding: 0;
  text-align: center;
}

.right-nav-create-submit:hover {
  color: #ffffff;
  background: linear-gradient(to bottom, rgb(174, 214, 243), rgb(82, 106, 151));
  cursor: pointer;
}


.right-nav-subcruddit-name {
  font-size: 40px;
  text-shadow: -1px 2px 1px rgb(43, 42, 42), 2px 4px 3px rgb(112, 141, 204);
  text-align: center;
}

.right-nav-mod-list li {
  font-size: 14px;
  margin-top: -8px;
  margin-bottom: -8px;
  list-style: none;
  color: #2346a5;
  text-align: center;
  margin-right: 30px;
}

.right-nav-container {
  z-index: 1;
  background-color: aliceblue;
  height: 80vh;
  width: 313px;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: -0.3em 0em 3px hwb(0 73% 27%);
}

/* FOOTER */
.footer-box-low {
  width: 35px;
  height: 10px;
  background-color: rgb(178, 214, 218);
  border-radius: 1px 10px 1px 10px;
}

.footer-box-high {
  width: 35px;
  height: 10px;
  background-color: rgb(250, 215, 155);
  margin-bottom: 10px;
  border-radius: 10px 1px 10px 1px;
}

.footer-box-low:hover,
.footer-box-high:hover {
  filter: brightness(93%)
}

.footer-text {
  color: #808080;
  font-size: 12px;
}

.footer-div {
  /* Style for full footer if needed */
}



/* TODO HELP ME ORGANIZE - ADD SUBCRUDDITS */

.bg-cruddit-blue {
  background-color: rgb(199, 223, 244);
}

.text-dark-blue-20 {
  color: blue;
  font-size: 20px;
  font-family: 'verdana', arial, helvetica, sans-serif !important;
  font-weight: bold;
}

.small-warning-txt {
  color: #808080;
  font-size: 13px;
  font-family: 'verdana', arial, helvetica, sans-serif !important;
  /* margin-bottom: 0px; */
}

.custom-form {

  border: 1px solid gray;
  width: 100%;
  font-family: 'verdana', arial, helvetica, sans-serif !important;
  color: black !important;
}

.form-text {
  height: 35px;
}

.form-field {
  height: 180px;
}

.dropzone-content {
  text-align: center;
  padding: 20px;
  border: 3px #808080 dashed;
  width: 100%;
  height: 100px;
  background-color: #FAFAFA;
  font-family: 'verdana', arial, helvetica, sans-serif !important;
  color: #808080;

}

.comment-box {
  margin: 4px 1px 4px 10px;
  padding: 2px 0px 2px 10px;
  border: 1px solid lightgray;
  width: 100%;
}

.background-0 {
  background-color: #f1f1f1;
}

.background-1 {
  /* background-color: #e7e7e7; */
  background-color: #fafafa;
}

.comment-row {
  display: flex;
}

.comment-area {

  font-family: 'verdana', arial, helvetica, sans-serif !important;
}

.vote-area {

  margin-left: 0px;
}

.comment-block {
  display: block;
}

.comment-links {
  color: #336699;


}

.comment-small {
  font-size: 14px;
}

.comment-big {
  font-size: 20px;
}

.form-comment {
  margin-top: 4px;
  width: 90%;
}

.comment-warning {
  margin-left: 40px;
}

.comment-form {
  margin-left: 40px;
}

.comment-vote {

  width: 30px;
  color: rgb(20, 20, 20);
  font-weight: 800;

}


.comment-vote:hover {
  fill: #ff6314;
}



.comment-true {
  fill: #ff6314;
}

.stickied-true {
  color: green;
  font-weight: 700;
}

.locked-true {
  color: red;
  font-weight: 700;
}

.stickied-box-true {
  /* border: green solid 3px !important; */
  border:none;
  box-shadow: -2px 2px 3px green, -1px 1px 2px rgb(17, 36, 21), 0 -2px 4px rgb(55, 134, 55);
  background-color: rgba(33, 94, 33, 0.1);
}

.stickied-box-true:hover {
  background-color: rgba(33, 94, 33, 0.1);
}

.moderator-true {
  color: green !important;
  font-weight: 700 !important;
  border: green solid 3px !important;
  background-color: rgb(0, 128, 0, 10%);
}