/* 
====================================
(ctrl-f these for easy navigation)
NAVBAR
MODAL
MAIN
POST
RIGHTNAV
====================================
*/


/* NAVBAR */
.sub-cruddit-list {
  font-size:11px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:#e7e7e7;
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 0;
}

.sub-cruddit-list a {
  padding-right: 0.5em;
  padding-left: 0.5em;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.sub-cruddit-list a:hover {
  text-decoration: underline;
  color: #555;
}

.orange-box {
  width:3%;
  background-color:#ff6314;
}

.lower-half {
  background-color:rgb(199, 223, 244);
  position:relative;
  height: 50px;
  width:100%;
  border-top:1px solid rgb(92, 106, 122);
  border-bottom:1px solid rgb(92, 106, 122);
}

.login-box {
  letter-spacing:0.1em;
  font-size:11px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgb(232, 239, 245);
  border-top-left-radius:5px;
  color: rgb(67, 73, 77);
  z-index: 1;
  padding-right:20px;
  padding-left:20px;
}

.login-box #link {
  color:rgb(23, 51, 84);
}

.login-box #link:hover {
  cursor:pointer;
}

/* MODAL */
.modal-body {
  min-height:40vh;
  max-height:40vh;
}

.modal-content {
  height: 100%;
}

.modal-right {
  background: linear-gradient(to right bottom, #ffffff, #449adb);
  box-shadow: inset 0px 0px 80px 10px #0687b6;
  min-height:100%;
}

/* POST */

.post-container {
  margin-left: 1%;
  margin-bottom: 1%;
  height:80px;
  border: 1px solid rgb(183, 195, 209);
}

.vote-container {
  text-align: center;
  background-color:rgb(187, 227, 250);
  height:100%;
  width:80px;
}

.vote-count {
  margin-top:0px;
  margin-bottom:0px;
}

.upvote:hover {
  filter: invert(46%) sepia(20%) saturate(4388%) hue-rotate(350deg) brightness(99%) contrast(104%);
}

.downvote:hover {
  filter: invert(35%) sepia(24%) saturate(1117%) hue-rotate(199deg) brightness(103%) contrast(96%);
}

/* MAIN */

/* RIGHTNAV */
.right-nav-container {
  z-index:1;
  background-color:aliceblue;
  height: 80vh;
  box-shadow:-0.3em 0em 3px hwb(0 73% 27%);
}

