/* RightPanel.css */

.right-panel {
    padding: 20px;
    position: absolute; 
    top: 0;
    right: 0; 
    width:25rem;
    min-height:85vh;
    max-height:85vh;
    background-color:rgb(241, 248, 250);
    border-left: 1px solid #b4d1e9;
    box-shadow: -2px 0 8px rgb(216, 227, 243);
    z-index: 1000;
  }
  
  .sponsored-section a {
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    text-decoration: none;
    color: #0079d3;
    margin-bottom: 10px;
    text-align: center;
  }

  
  